/* start reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
html,textarea { overflow: auto; }
body { line-height: 1; }
ol,ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: none; }
table{ border-collapse: collapse; border-spacing: 0; }
img { vertical-align: top; }
:focus { outline: none; }
a:hover{color:#c00;}
input{
border:none;
padding:0;
}
/* end reset css */
strong {font-weight: bold;}
i {font-style: italic;}
.justifyleft {text-align: left}
.justifyright {text-align: right;}
p {line-height: 1.5em;}
body{
	font-family: 'PT Sans', sans-serif;
	min-width:1260px;
}

#header{
	width:100%;
}

.full-width{
	width:100%;
}

#header .full-width{
	background-color:#D8D8D8;
	box-shadow:0 3px 3px rgba(0, 0, 0, 0.3);
	position:relative;
	z-index:10;
}

.top-menu{
	overflow:hidden;
	width:1260px;
	margin:0 auto;
	padding:15px 0;
}

.top-menu li{
	float:left;
	margin:0 25px 0 0;
}

.top-menu li a{
	font-size:14px;
	line-height:18px;
	color:#383838;
	font-weight:bold;
}

.top-menu .login{
	float:right;
	margin:0;
}

.top-menu .login a{
	color:#b30000;
	margin:0 0 0 25px;
	font-weight:normal;
	text-decoration:underline;
}

.top-menu .login a:hover{
	text-decoration:none;
}

.fix-width{
	overflow:hidden;
	width:1260px;
	margin:0 auto;
}

.logo{
	background:url(../images/logo.png) no-repeat;
	width:335px;
	height:70px;
	margin:20px 0 0 -5px;
	float:left;
}

.logo a{
	display:block;
	width:335px;
	height:70px;
}

.search{
	width:530px;
	margin:15px 0 0;
	position:relative;
	float:left;
	clear:both;
}

.search .loupe{
	background:url(../images/loupe.png) no-repeat;
	display:block;
	position:absolute;
	width:24px;
	height:20px;
	right:5px;
	top:5px;
    border:none;
    cursor:pointer;
}

.search input{
	height:28px;
	width:490px;
	padding:0 35px 0 5px;
	border:1px solid #B3B3B3;
	box-shadow:0 0 3px #B3B3B3 inset;
	border-radius:5px;
}

#header .fix-width{
	background:url(../images/header-bg.jpg) no-repeat 100% 0;
}

.contacts{
	float:right;
	margin:20px 370px 0 0;
}

.contacts .italic{
	color:#3c3c3c;
	font-style:italic;
	font-size:13px;
	line-height:17px;
}

.contacts .phone{
	color:#000;
	font-size:22px;
	line-height:26px;
	margin:0 0 15px 0;
}

.contacts .phone .big{
	color:#810607;
	font-size:32px;
	line-height:36px;
}

.social{
	overflow:hidden;
}

.social li{
	width:36px;
	height:36px;
	float:left;
	margin:0 0 0 15px;
}

.social li:first-child{
	margin:0;
}

.social li a{
	display:block;
	width:36px;
	height:36px;
}

.social .vk{
	background:url(../images/vk.png) no-repeat;
}

.social .fb{
	background:url(../images/fb.png) no-repeat;
}

.social .inst{
	background:url(../images/inst.png) no-repeat;
}

.social .you{
	background:url(../images/you.png) no-repeat;
}

.main-menu{
	float:left;
	overflow:hidden;
	width:100%;
	background: #d05558; /* Old browsers */
	background: -moz-linear-gradient(top,  #d05558 0%, #9c3d3e 48%, #672829 51%, #5c2121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d05558), color-stop(48%,#9c3d3e), color-stop(51%,#672829), color-stop(100%,#5c2121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d05558 0%,#9c3d3e 48%,#672829 51%,#5c2121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d05558 0%,#9c3d3e 48%,#672829 51%,#5c2121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d05558 0%,#9c3d3e 48%,#672829 51%,#5c2121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d05558 0%,#9c3d3e 48%,#672829 51%,#5c2121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d05558', endColorstr='#5c2121',GradientType=0 ); /* IE6-9 */
	border-radius:5px;
	margin:20px 0 0;
}

.main-menu li{
	float:left;
	padding:10px 35px;
	border-left:1px solid #999999;
}

.main-menu li:first-child{
	border:none;
}

.main-menu li a{
	font-weight:bold;
	color:#FFF;
	font-size:18px;
	line-height:22px;
	text-decoration:none;
}

.main-menu .men{
	background:url(../images/men.png) no-repeat 50% 50%;
	height: 42px;
    padding: 0;
    width: 120px;
}

#footer{
	padding:25px 0;
	width:100%;
	background-color:#555555;
}

#footer .fi-width{
	overflow:hidden;
}

.footer-logo{
	float:left;
	display:block;
	width:198px;
	height:70px;
	background:url(../images/footer-logo.png) no-repeat;
}

.footer-menu{
	float:left;
	margin:0 0 0 100px;
}

.footer-menu li a{
	font-size:14px;
	line-height:18px;
	color:#FFF;
	text-decoration:underline;
}

.footer-menu li{
	margin:0 0 3px;
}

.footer-menu li a:hover{
	text-decoration:none;
}

.footer-contact{
	float:right;
	margin:25px 0 0;
}

.footer-contact p{
	color:#a0a0a0;
	font-size:20px;
	line-height:24px;
}

.footer-contact .big{
	color:#FFF;
	font-size:24px;
	line-height:28px;
}

#content{
	padding:15px 0;
}

#content .fix-width{
	overflow:visible;
}

#content .fix-width:after{
	clear:both;
	display:block;
	content:'';
}

.left-sidebar{
	width:18%;
	float:left;
	border-radius:5px;
	
}

.left-menu{
	box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
	border-radius:5px;
	margin:0 0 15px 0;
}

#content .tabs:after{
	clear:both;
	display:block;
	content:'';
}

.tabs {
	border-radius:5px 5px 0 0;
	overflow:hidden;
}


.tabs li a{
	display:block;
	border:1px solid #848484;
	font-weight:bold;
	line-height:40px;
	font-size:15px;
	color:#FFF;
	text-transform:uppercase;
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top,  #565656 0%, #555555 50%, #424242 51%, #767677 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(50%,#555555), color-stop(51%,#424242), color-stop(100%,#767677)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#767677',GradientType=0 ); /* IE6-9 */
}

.tabs li a:hover{
	text-decoration:none;
}

.tabs li{
	float:left;
	width:50%;
	text-align:center;
}

.tabs li a:hover, .tabs li a.active{
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5) inset;
}

a {color:#ba4b4d;}

.sidebar-menu li a{
	color:#ba4b4d;
	font-weight: bold;
	text-decoration:none;
	border-top:1px solid #DCDCDC;
	display:block;
	font-size:16px;
	line-height:20px;
	padding:5px 0;
	margin:0 5px;
}

.sidebar-menu li{
	background:url(../images/right-arrow.png) no-repeat 95% 50%;
	position:relative;
}

.sidebar-menu li:hover{
	background-color:#ccc;
}

.sidebar-menu li:hover a{
	color:#FFF;
	text-decoration:none;
}

.sidebar-menu li.bold a{
	font-weight:bold;
}

/*Âûïàäàþùåå ìåíþ*/
ul.sidebar-menu li ul {
	display: none;
}


ul.sidebar-menu li:hover ul {
	display: block;
	position: absolute;
	left: 220px;
	top: 0;
	/*background-color: #28282a;*/
	background-color:#fff;
	border: 1px solid #ccc; 
	width: 200px;
	z-index: 1000;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

ul.sidebar-menu li:hover ul li {
	background-image:none;
}

ul.sidebar-menu li:hover ul li a:first-child {
	border-top:none;
}

ul.sidebar-menu li:hover ul li a {
	border-top:1px solid #ccc;
	font-size:14px;
	line-height:1.2em;
	padding:7px 5px;
	color:#000;
}

ul.sidebar-menu li:hover ul li:first-child a:hover {
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

ul.sidebar-menu li:hover ul li:last-child a:hover {
	border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
}
/*Êîíåö âûï ìåíþ*/

.sidebar-holder{
	box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
	border-radius:5px;
	margin:0 0 15px 0;
	overflow:hidden;
	background-color:#FFF;
}


.sidebar-holder h3{
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top,  #565656 0%, #555555 50%, #424242 51%, #767677 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(50%,#555555), color-stop(51%,#424242), color-stop(100%,#767677)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#767677',GradientType=0 ); /* IE6-9 */
	font-size:17px;
	line-height:40px;
	padding:0 12px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
}

.sidebar-holder h3 a{
	color:#FFF;
	text-decoration:underline;
}

.sidebar-holder h3 a:hover{
	text-decoration:none;
}

.news{
	padding:10px 5px;
}

.news li{
	margin:15px 0 0;
}

.news li:first-child{
	margin:0;
}

.news .date{
	font-size:10px;
	line-height:12px;
	color:#616161;
}

.news .news-link{
	color:#d2101d;
	font-size:14px;
	line-height:16px;
	display:inline-block;
}

.friends{
	padding:15px;
}

.friends img{
	margin:0 0 5px 0;
}

.friends .name{
	font-size:17px;
	line-height:21px;
	color:#000;
	font-weight:bold;
}

.friends .discription{
	font-size:12px;
	line-height:14px;
	color:#3d3d3d;
}

.friends li{
	margin:15px 0 0;
}

.friends li:first-child{
	margin:0;
}

.right-sidebar{
	float:right;
	width:20%;
	margin:-261px 0 0;
}

.special p{
	font-size:16px;
	line-height:20px;
	color:#d2101d;
	padding:0 0 10px 0;
}

.special{
	padding:15px 5px;
}

.special img{
	margin:0 0 0 5px;
}

.special-list{
	text-align:center;
}

.special-list a{
	display:inline-block;
	color:#000;
	font-size:14px;
	line-height:18px;
}

.special-list img{
	margin:0 0 10px 0;
}

.special-list li{
	margin:10px 0 0;
}

.special-list .title{
	color:#d2101d;
	font-size:16px;
	line-height:18px;
	margin:20px 0 0;
	padding:19px 0 0;
	border-top:1px solid #D4D4D4;
}
.special-list IMG{width: 150px;}

.blogs{
	padding:15px 5px;
}

.blogs img{
	float:left;
	margin:0 5px 5px 0;
}

.blogs .name{
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	padding:0 0 5px 0;
}

.blogs .discription{
	font-size:10px;
	line-height:12px;
}

.blogs .blog-person{
	margin:0 0 15px 0;
	overflow:hidden;
}

.blogs .blog-date{
	color:#747171;
	font-size:10px;
	line-height:12px;
}

.blogs .blog-link{
	display:inline-block;
	color:#212121;
	font-size:16px;
	line-height:18px;
	margin:0 0 5px 0;
	text-decoration:underline;
}

.blogs .blog-link:hover{
	text-decoration:none;
}

.blogs .blog-discription{
	color:#434343;
	font-size:11px;
	line-height:13px;
}

.blogs li{
	padding:20px 0 0;
	margin:20px 0 0;
	border-top:1px solid #A4A4A4;
}

.blogs li:first-child{
	padding:0;
	margin:0;
	border:none;
}

.cart{
	/*background: url(../images/cart.png) no-repeat rgba(255, 255, 255, 0.7) 10px 50%;*/
padding: 15px 25px 15px 80px;
margin: 0 0 15px 0;
border-radius: 5px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
position: relative;
background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.cartIco {position: absolute;left:20px;top:20px;}

.cartHead {text-align: center;}

.cart b {text-align: center;}
.cart .cart-title{
	font-size:18px;
	line-height:22px;
	color:#d2101d;
	text-decoration:underline;
	margin:0 0 5px 0;
	display:inline-block;
}

.cart .cart-title:hover{
	text-decoration:none;
}

.cart p{
	font-size:14px;
	line-height:18px;
	color:#393939;
}

.cart-btn{
	display:block;
	background: #ca5255; /* Old browsers */
	background: -moz-linear-gradient(top,  #ca5255 0%, #5c2122 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca5255), color-stop(100%,#5c2122)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ca5255 0%,#5c2122 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ca5255 0%,#5c2122 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ca5255 0%,#5c2122 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ca5255 0%,#5c2122 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5255', endColorstr='#5c2122',GradientType=0 ); /* IE6-9 */
	font-size:14px;
	line-height:16px;
	padding:5px;
	color:#FFF;
	text-align:center;
	border-radius:5px;
	margin:10px 0 0;
}

.cart-btn:hover{
	text-decoration:none;
}

.content-holder {
	width:57%;
	float:left;
	margin:0 30px;
}

.content-holder h2, .tovarWrapper h2 {
	font-size:22px;
	line-height:28px;
	font-weight:bold;
	margin:0 0 10px 0;
}

.content-holder h3{
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	margin:0 0 15px 0;
}

.content-holder h4 {
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	margin:0 0 15px 0;
}

.offers h3{
	color:#ff6600;
}

.hits h3{
	color:#FF0000;
}

.new-products h3{
	color:#33CC00;
}

.offers, .hits {
	padding:15px 0;
	border-bottom:1px solid #C2C2C2;
}

.new-products{
	padding:15px 0;
}

.products:after, .category:after{
	clear:both;
	display:block;
	content:"";
}

.products img{
	display:block;
	margin:0 auto 20px;
}

.products li {
	border:2px solid #FFF;
	text-align:center;
	display: inline-block;
	vertical-align: top;
	width:209px;
	padding:10px;
	position:relative;
	margin:0 0 0 5px;	
}
.products li{
	/*height:300px;*/
}

.products li IMG{display: block; width:120px;}

table.category {
	width:100%;
	margin-top:20px;
}

table.category tbody tr {
	border-bottom:1px solid #ccc;
}


table.category tr td {
	vertical-align: middle;
	padding:10px;
}

table.category thead tr {
	border-radius: 8px;
	border:1px solid #ccc;
	background-color: #f8f8f8;
}
table.category thead tr td {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #EBEBEB;
}
.priceGood, .upakovka {font-size:14px;}
.upakovka {font-size:14px;}
.products li:first-child, .category li:first-child {
	margin:0;
}

.products li:hover,.category li:hover {
	border:2px solid #BA4B4D;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	border-radius:10px;
}

.product-link{
	font-size:16px;
	line-height:20px;
	color:#000;
	font-weight:bold;
}

.product-discription{
	font-size:13px;
	line-height:15px;
	color:#494949;
	margin:5px 0 0;
}

.product-price{
	/*color:#b40003;*/
	font-size:18px;
	line-height:32px;
	font-weight:bold;

}

div.blockUpak div.priceGood p.price-full {vertical-align: middle;line-height:28px;display:block;padding:8px;color:#fff;font-size: 32px;font-weight:bold;color:#000;width:145px;background-color: #e1e1e1;border-radius: 10px;text-align: center;} 

.product-price span{
	color:#000;
	font-size:22px;
}

.to-cart{
	
	width:64px;
	height:64px;
	display:block;
	margin:5px auto 0;
	font-weight:bold;
	background:url(../images/cart-small.png) center center no-repeat;
	cursor: pointer;
}

.to-cart-full {
		width:170px;
	height:75px;
	display:block;
	font-weight:bold;
	background:url(../images/cart-small-full.png) center center no-repeat;
	cursor: pointer;
}

/*.to-cart:hover{
	background:url(../images/cart-small-b.png) no-repeat 20px 50%;
	text-decoration:none;
}*/

.offers .promo{
	background:url(../images/promo1.png) no-repeat;
}

.hits .promo{
	background:url(../images/promo2.png) no-repeat;
}

.new-products .promo{
	background:url(../images/promo3.png) no-repeat;
}

.promo{
	width:67px;
	height:68px;
	position:absolute;
	right:10px;
	top:10px;
}

.slider-holder h2{
	width:100%;
	text-align:center;
	font-size:28px;
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top,  #565656 0%, #555555 50%, #424242 51%, #767677 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(50%,#555555), color-stop(51%,#424242), color-stop(100%,#767677)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#767677',GradientType=0 ); /* IE6-9 */
	line-height:40px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:5px;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	margin:0 0 15px 0;
}

.content-holder .slider {
	width:718px;
	height:350px !important;
	overflow:hidden;
	position:relative;
}

.slider-s, .slider-s .js-slide{
	height:130px;
	width:100%;
	text-align:center;
}

.content-holder .js-slide{
	width:100%;
	text-align:center;
	height:350px !important;
}

.prev, .next{
	display:block;
	position:absolute;
	top:40%;
	width:20px;
	height:90px;
	z-index:100;
}

.prev{
	background:url(../images/slide-nav.png) no-repeat;
	left:0;
}

.next{
	background:url(../images/slide-nav.png) no-repeat -20px 0;
	right:0;
}

.sidebar-slider{
	padding:15px 0;
}

.slider-nav ul{
	width:100%;
	text-align:center;
	margin:10px 0 0;
}

.slider-nav li{
	display:inline-block;
}

.slider-nav li a{
	display:block;
	text-indent:-9999px;
	width:17px;
	height:17px;
	background:url(../images/slider-bullet.png) no-repeat;
}

.slider-nav li a.active{
	background:url(../images/slider-bullet-a.png) no-repeat;
}

.content-info{
	border:1px solid #CFCFCF;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	border-radius:10px;
	margin:20px 0;
	overflow:hidden;
}

.content-info > div{
	float:left;
	width:38%;
	padding:30px 40px;
	text-align:center;
	border-left:1px solid #CFCFCF;
	min-height:90px;
}

.content-info > div:first-child{
	border:none;
}

.content-info h4{
	font-size:18px;
	line-height:22px;
	padding:0 0 10px 0;
	font-weight:bold;
}

.content-info p{
	font-size:13px;
	line-height:17px;
	color:#5d5d5d;
}

.shipping{
	background:url(../images/shipping.png) no-repeat 25px 40px;
}

.help{
	background:url(../images/help.jpg) no-repeat 10px 40px;;
}

.content-info .woman, .content-info .man{
	padding:30px 40px 180px 40px;
}

.woman{
	background:url(../images/woman.jpg) no-repeat 50% 100%;
}

.man{
	background:url(../images/man.jpg) no-repeat 0 100%;
}

.brendsWrapper {overflow: hidden;padding:10px 20px 20px 20px;box-shadow: 0 0 10px;}

.brendsWrapper ul {
	float: left;
	margin-right:30px;
}

.brendsWrapper ul li a {
	font-weight: bold;
	line-height:1.5em;
	font-size:14px;
}
hr.notshow {
	border:none;
	padding:5px 0;
}

.B_crumbBox {
	display: block;
	padding:3px;
	overflow: hidden;
}
.products {padding-top: 20px;}
.B_crumbBox span, .B_crumbBox a {font-size:12px;}
.listCategoriesInn {margin-bottom:20px; padding-top: 20px;}
.listCategoriesInn li {float:left;margin-right:1em;line-height: 2em;}
.listCategoriesInn li a {padding:0 3px;}
.listCategoriesInn li.active a {background-color: #ca5255;color:#fff;cursor:text;text-decoration: none;}
.catContent {padding:10px 0;}
.catContent p {line-height: 1.5em;margin-bottom:20px;}


.filters-form {position: relative; padding: 10px; margin: 10px 0;}
.filters-form .it-group {position: relative; float: left; width: 150px;}
.filters-form .it-group H3{font:bold 14px/18px Arial; margin-bottom: 10px;}
.filters-form .button {position: relative; overflow: hidden; width:100%;clear: both;}
.filters-form .button BUTTON {float: right;}
.filters-form .it-radio {}
.filters-form .it-radio LABEL{cursor: pointer;}
.filters-form .it-radio LABEL{}

#shopForm {}
.form fieldset{ margin: 7px 0; padding: 5px 0;}
.form fieldset LABEL {width: 150px; display: inline-block;}
.form fieldset input[type=text]{border:1px solid #000; font:14px/20px Arial;}



/**
* FORM 
*/
.it-row LABEL INPUT { float: left; padding: 0!important; margin: 2px 3px 0 0; vertical-align: middle; cursor: pointer; }
.it-row LABEL {font: 14px/16px Arial; color: #000; display: inline-block; position: relative; padding: 3px 10px;}
.it-row LABEL SUP { color: #c30; }
.it-notice { font: 10px/16px Arial; color: #777; clear: both; padding: 3px 10px; }
.it-notice A { text-decoration: none ! important; }
.it-error, .errors { font: 12px/14px Arial; color: #c30; clear: both; padding: 5px 10px; margin: 6px 0; background: #DDDDDD; border: 1px solid #c30;}


.links A {
    float: right;
    font: 13px/16px Arial;
    padding-left: 20px;
}

.it-row { clear: both; padding: 0 0px 5px; margin: 0 0 9px; position: relative; overflow: hidden; zoom: 1; }
.it-row LABEL {padding: 3px 10px; color:#1E1E1E; font:italic 14px/16px Arial;}
.it-row.last { margin: 0; }
.it-row.last.right { float: right;}
.it-button {border:none; color:#FFFFFF;padding: 3px 20px; border-radius:4px; height: 35px; font:bold 12px/16px Arial; }
.it-button {text-transform: uppercase;}
.it-button {
    
    background: linear-gradient(top, #D05558 0%, #5C2121 100%);
	background: -o-linear-gradient(top, #D05558 0%, #5C2121 100%);
	background: -moz-linear-gradient(top, #D05558 0%, #5C2121 100%);
    background: -ms-linear-gradient(top, #D05558 0%, #5C2121 100%);
	background: -webkit-linear-gradient(top,  #D05558 0%, #5C2121 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#D05558, endColorstr=#5C2121, GradientType=0);
    box-shadow: 0 2px 0 #1d2f55, 0 2px 0 #1d2f55, 0 2px 0 #1d2f55;
    border-bottom: 2px solid #511111;
}

A.it-button {text-decoration: none; display: inline-block; line-height: 35px;}
.it-button {cursor:pointer;}
.it-button:hover {opacity: 0.8;}

/* input-text, textarea
-------------------------------------------------------------------*/

.it-text { height: 29px; padding: 3px 10px; }
.it-area { padding: 5px 0 5px 5px; }
.it-text INPUT { height: 29px; }
.it-area TEXTAREA { overflow: auto !important; resize: none; zoom: 1; }

.it-text, .it-area {background: #fff; border: 1px solid #b5bac0; border-radius: 5px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);}
.it-text INPUT, .it-area TEXTAREA { font: 16px/18px Arial; color: #000; width: 100%; padding: 0; margin: 0; display: block; vertical-align: top; background: none; border: none; }

/* input-file
-------------------------------------------------------------------*/
.it-text.it-file { position: relative; overflow: hidden; }
.it-text.it-file INPUT { font-size: 1000px; height: 26px; position: absolute; top: -1px; right: 0; opacity: 0; filter: alpha(opacity=0); outline: none; cursor: default; z-index: 2; }
.it-file P { font: 14px/18px Arial; color: #000; width: 100% !important; height: 18px; position: relative; background: url(../images/file.gif) 100% 4px no-repeat; z-index: 1; }

/* select
-------------------------------------------------------------------*/
.it-select { position: relative; }
.it-select SELECT { width: 100%; position: relative; z-index: 2; border: 1px solid #b5bac0; border-radius: 10px; padding: 3px 10px;}

.it-assess {color:#18EA09; font:14px/16px Arial;}


/* captcha
-------------------------------------------------------------------*/
#captcha IMG { float: left; width: 150px; height: 50px; }
#captcha A { float: left; width: 32px; height: 32px; margin: 9px 0 0 10px; background: url(../images/update.png); }
#captcha .it-text { width: 138px; margin: 0 0 10px; }

.FORM LEGEND{font:16px/20px Arial; margin-bottom: 15px;}

.FORM H3{font:bold 16px/20px Arial; margin: 15px 0;}

.form
#shopForm {width:auto;}
#shopForm .it-text, #shopForm .it-area{width:520px; border: 1px solid #B5BAC0;  padding: 3px 10px;}
.form .it-area,.form .it-text{border: 1px solid #B5BAC0;}
.form .send{text-align: right;}
.form .send .it-button{}

/*BLOG*/
#post {position: relative; overflow: hidden;}

.time{font-style:italic; display: block; margin: 7px 0;}
#post .blog-person{position: relative; margin-bottom: 15px; overflow: hidden; display: block; text-decoration: none;}
#post .blog-person IMG{float: left; width: 100px; margin: 0 10px 10px 0; position: relative;}
#post .blog-person .name{text-decoration: none; border-bottom: 1px solid #BA4B4D;display: inline;}
#post .blog-person .name:hover{ border-bottom: 1px solid #FFF;}
#post .blog-person .discription{text-decoration: none; color:#000;}

.data-table {position: relative;}
.data-table TD{position: relative; padding: 3px 10px;}
.data-table TH{position: relative; padding: 5px 10px; background: #A8A8A8; color:#FFF;}
.tovarWrapper {padding:0 20px;margin-left:18%;margin-right: 20%;}
.tovar {margin-left: 290px;}
.img {width:250px;float:left;}
.allTovar {overflow: hidden;padding-bottom:20px;padding-top:20px;}
.mit {float:left;margin:10px;width:150px;text-align: center;}
.mit a {font-size:11px;font-weight:bold;color:#000;}
.priceWith {font-size:12px;color:#b40003;font-weight: bold;line-height: 2em;}
.mitWrapper {padding-top: 10px;margin-top:20px;border-top: 1px solid #ccc;}
.mitWrapper h3 {font-size:16px;font-weight: bold;}
.old {font-size:1.1em;color:#333;text-decoration: line-through;font-weight: bold;}
.blockUpak {width:200px;float:right;}
.buttonBlock {/*margin-left:230px;*/text-align: left;}
.wrapperblockUpak {overflow: hidden;margin:10px 0;}
.addparam {margin: 10px 0;}
.comments {padding:5px;margin-top:20px;}

.description {padding:15px;background-color: #F8F8F8; border:1px solid #EBEBEB;border-radius: 4px;}
.bendLink {margin-bottom:0.5em;}
.wrapperMit {overflow: hidden;padding:20px 0;}
h2.hTovar {margin-bottom:30px;}
.img img {padding:5px;border:1px solid #f1f1f1;border-radius: 4px;margin-bottom:20px;}
.tovarWrapper table tr td {padding:5px;border:1px solid #f1f1f1;}
.params {margin-right:220px;}
.category .shk-item {text-align: center;}


.tab .nav{
	border-radius:5px 5px 0 0;
	overflow:hidden;
    display: table;
    width: 100%;
}
.tab .nav UL{position: relative; display: table-row;width: 100%;}
.tab .nav UL LI{position: relative; display: table-cell; text-align: center;}

.tab .nav li a{
	display:block;
	border:1px solid #848484;
	font-weight:bold;
	line-height:40px;
	font-size:15px;
	color:#FFF;
	text-transform:uppercase;
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top,  #565656 0%, #555555 50%, #424242 51%, #767677 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(50%,#555555), color-stop(51%,#424242), color-stop(100%,#767677)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #565656 0%,#555555 50%,#424242 51%,#767677 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#767677',GradientType=0 ); /* IE6-9 */
}
.tab .nav li a:hover{text-decoration:none;}
.tab .nav li a:hover, .tab .nav li a.a{	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5) inset;
background: #FFF; color:#000;
}

.tab .wrapper {position: relative; overflow: hidden; min-height: 100px;}
.tab .wrapper .block {position: relative; display: none; background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding: 15px;}
.anythingRating {   margin: 7px 0;
    position: relative;
    width: 130px; }
.anythingRating .star-rating2{}
.anythingRating .score{}
#stuffHelper {border-radius: 5px;box-shadow:0 0 10px;}

.priceCat .count{position: relative; overflow: hidden; margin: 10px 0; width: 160px;}
.priceCat .count .wrapper{padding: 3px 0; }
.priceCat .count .wrapper{width: 105px; position: relative; overflow: hidden;  background: url(../images/count_widget.gif) 0 0 no-repeat; margin: 0 auto;}
.priceCat .count A.minus, .priceCat .count A.plus{position: relative;height: 30px; width: 30px;}
.priceCat .count A.minus{float: left;}
.priceCat .count A.plus{float: right;}
.priceCat .count input {float: left; position: relative; height: 25px; width:42px; text-align: center;}

.cart.fixed{position: fixed; width: 147px;  z-index: 1000; top:0;}

.appears {position: relative;}
.appears P{position: relative; text-align: center;}
.appears .hidden{display: none;}
.appears .error{color:red;}
.appears .sussses{color:green; border: 1px solid green; margin: 10px 0;}

.in_stock_filter {position: relative; padding: 10px; margin: 10px 0; border: 2px solid #BA4B4D; border-radius: 5px;}
.in_stock_filter .hidden{display: none;}
.in_stock_filter SPAN{display: inline-block; position: relative;}
.in_stock_filter A {text-decoration: none; border-bottom: 1px dashed #BA4B4D;}
.in_stock_filter A.active {border-bottom: 1px solid #BA4B4D;}
TR.cart-order .shk-count {border: 1px solid #B5BAC0;
    padding: 3px 10px;}
    
.fix-width.full {width: 100%;} 