.sidebar-holder.main{position: relative; background:#FFF;}
.sidebar-holder.main IMG{position: relative;  height: 625px;display: block;margin: 0 auto;}
.content-holder .slider-s .js-slide {height:620px !important;}