@font-face{
	font-family:"Archive";
	src:url("../fonts/archive/Archive.eot?") format("eot"),
	url("../fonts/archive/Archive.woff") format("woff"),
	url("../fonts/archive/Archive.ttf") format("truetype"),
	url("../fonts/archive/Archive.svg#Archive") format("svg");
	font-weight:normal;
	font-style:normal;
}
