.idea/
upload
/bitrix
robots.txt
sitemap*.xml
.htaccess
.htpasswd
*.log
*.tgz.*
*.tar.*
*.gz
*.zip
Thumbs.db
*.sql
*.csv
.gitignore
restore.php
log.txt
.htaccess.restore
/local/php_interface/include/.config.php
_thumbs
images