.table_product-modifications{
	thead>tr>td{
		color: #888888;
		&>.text{
			&:after{
				border-color: #888888;
				border-left-color: transparent;
				border-right-color: transparent;
			}
			&:hover{
				color: #000;
				&:after{
					border-color: #000;
					border-left-color: transparent;
					border-right-color: transparent;
				}
			}/* &:hover */
		}/* &>.text */
	}/* thead>tr>td */

	tbody>tr:nth-child(2n+1){
		background: #f2f2f2;
	}
	tbody>tr{
		border-color: #e7e7e7;
		&:hover{
			background: $table-hovered-bg;
		}
	}
}/* .table_product-modifications */