.btn-password-toggle{
	border: none;
	padding: 0;
	margin-right: 5px;
	@include transition('i', color);
	.password-hidden{
		&:before{
		}
	}
	&:hover{
		cursor: pointer;
	}

	[type="text"]+.textinput-icons>&{ // .btn-password-toggle
		.password-shown{ display: inline-block;}
		.password-hidden{ display: none;}
	}
	[type="password"]+.textinput-icons>&{ // .btn-password-toggle
		.password-shown{ display: none;}
		.password-hidden{ display: inline-block;}
	}
}