.btn-settings-toggle{
	position: absolute;
	margin-left: -60px;
	height: 48px;
	width: 48px;

	span:before{
		font-size: 24px;
	}
	.fixed-left &, .fixed-right &{
		margin-left: 0;
		margin-top: -50px;
	}

	@media (max-width: 767px){
		.fixed-top &, .not-fixed &{
			top: 100px;
			right: 0;
		}
		.fixed-bottom &{
			bottom: 60px;
			right: 0;
			top: auto;
		}
		.fixed-left &, .fixed-right &{
			margin-top: -40px;
			width: 40px;
			right: auto;
			top: auto;
		}
		// z-index: 2;
		top: 100px;
		right: 0;
		margin-left: 0;
		height: 40px;
		width: 42px;
	}
}