.textinput{
	border-color: $textinput-base;
	box-shadow: inset 0px 1px 5px fade-out(#000, 0.85);

	&:hover{
		border-color: $textinput-hover;
		box-shadow: inset 0px 1px 5px fade-out(#000, 0.75);
	}

	&:focus{
		border-color: $textinput-focus;
		box-shadow: inset 0px 1px 5px fade-out(#000, 0.85);
	}

	&.valid{ 
		border-color: $textinput-valid;

	}

	&.not-valid{ 
		border-color: $textinput-not-valid;
	}

	&.disabled, &[disabled]{
		color: #bfbfbf;
		box-shadow: none;
		border-color: #d9d7e5;
		background: #f7f7f7;
	}
}

.icon-valid{
	color: $textinput-valid;
}

.icon-not-valid{
	color: $textinput-not-valid;
}