.percent{
	color: #fff;
}
.syco_tooltip{
	background: $tooltip-bg;
}
.triangle_right{
	border-color: transparent $tooltip-bg transparent transparent;
}
.triangle_left{
	border-color: transparent transparent transparent $tooltip-bg;
}
.syco_tooltip>p{
	color: #000;
}
.percentagebarinner{
	background: #fff;
	background: $tooltip-border;
}
.percentagebar{
	background: #fff;
}