.store-indicator{
	font-size: 0;
	position: relative;
	width: 16px;
	height: 17px;
	.many{
		position: absolute;
		width: 4px;
		bottom: 0;
		
		height: 17px;
		left: 12px;
	}
	.average{
		height: 13px;
		left: 6px;
	}
	.few{
		height: 8px;
		left: 0;
	}

}