.tooltip{
	font-size: 12px;
	
	.accessory &{
		min-width: 140px;
	}

	.view-type &{
		white-space: nowrap;
	}
	transition: opacity .3s .2s;
}

.tooltip-inner{
	border: 1px solid;
}

.tooltip-arrow{
	display: none;
}

// tooltips for adding to order mustn't be shown on out of stock items
.out-of-stock .add-to-order + .tooltip{
	display: none !important;
}


.buy+.tooltip{
	>.tooltip-arrow{
		display: block;
	}
	>.tooltip-inner{
		position: relative;
		font-weight: normal;
		text-align: left;
		border: none;
		padding: 5px 5px 10px 60px;

		>i{
			position: absolute;
			top: 5px;
			bottom: 0;
			left: 10px;
			&:before{
				font-size: 36px;

			}
		}

	}
}