$theme: 'darkblue-skew';
// ======= COMMON ========
$main-color-dark: #2352eb; // см. ховер на телефоны в UI
$main-color-light: #569aff;
$main-color-soft: #5d95fa; // см. ховер на категории

$main-gradient-to-top: linear-gradient(to top, $main-color-dark, $main-color-light 80%);
$main-gradient-to-bottom: linear-gradient(to top, $main-color-dark, $main-color-light 80%);
$main-gradient-to-right: linear-gradient(to right, $main-color-dark, $main-color-light 80%);
// ==== END OF COMMON ====
// ======== MAIN =========
// -- this is for buttons with arrows on sides
$btn-gradient: rgb(108,143,255) 0%, rgb(72,113,245) 11%, $main-color-dark 29%, $main-color-light 100%;
$btn-gradient-hover: rgb(108,143,255) 0%, rgb(72,113,245) 11%, $main-color-dark 29%, $main-color-light 100%;
$btn-gradient-click: $btn-gradient;
// --
$main-normal-shadowcolor: #002e7b;
$main-normal-textcolor: #fff;
$main-normal-textshadow: 0px 1px 0px #002688;
$main-normal-bg: linear-gradient(to top, $btn-gradient);
$main-normal-shadow: 0px 1px 2px fade-out(#141311, 0.20),
					inset 0px -2px 0px $main-normal-shadowcolor;

$main-hovered-shadowcolor: #002e7b;
$main-hovered-textcolor: $main-normal-textcolor;
$main-hovered-textshadow: $main-normal-textshadow;
$main-hovered-bg: linear-gradient(to bottom, $btn-gradient-hover);
$main-hovered-shadow: 0px 1px 2px fade-out(#141311, 0.20),
					inset 0px -2px 0px $main-hovered-shadowcolor;

$main-clicked-shadowcolor: #002e7b;
$main-clicked-textcolor: $main-normal-textcolor;
$main-clicked-textshadow: $main-normal-textshadow;
$main-clicked-bg: $main-normal-bg;
$main-clicked-shadow: inset 0px 2px 3px $main-clicked-shadowcolor;
// ===== END OF MAIN =====

$shadow-specialblocks-silver: 0px 1px 3px fade-out(#000, 0.21),
								inset 0px -5px 0px fade-out(#000, 0.82);
$shadow-specialblocks-main: 0px 1px 3px fade-out(#000, 0.21),
								inset 0px -5px 0px $main-normal-shadowcolor;
$feedback-dots: #303435;
$bigslider-gradient: linear-gradient(to bottom, #5ab6ca, #7fcbfa);
$bigslider-textcolor: #00173c;

$hurry-banner: url('../../img/bg/hurry-banner_' + $theme + '.png') no-repeat center top;
// $benefit-bg: url('../../img/bg/benefit-bg_' + $theme + '.png') no-repeat center;