$theme: 'green-flat';
// ======= COMMON ========
$main-color-dark: #98bf36; // см. ховер на телефоны в UI
$main-color-light: #b4e43e;
$main-color-soft: #9fd122; // см. ховер на категории

$main-gradient-to-top: $main-color-soft;
$main-gradient-to-bottom: $main-color-soft;
$main-gradient-to-right: $main-color-soft;
// ==== END OF COMMON ====
// ======== MAIN =========
$main-normal-shadowcolor: #88b41a;
$main-normal-textcolor: #fff;
$main-normal-textshadow: none;
$main-normal-bg: $main-color-soft;
$main-normal-shadow: inset 0px -2px 0px $main-normal-shadowcolor;

$main-hovered-shadowcolor: #a0ca37;
$main-hovered-textcolor: $main-normal-textcolor;
$main-hovered-textshadow: $main-normal-textshadow;
$main-hovered-bg: $main-color-light;
$main-hovered-shadow: inset 0px -2px 0px $main-hovered-shadowcolor;

$main-clicked-shadowcolor: #7da125;
$main-clicked-textcolor: $main-normal-textcolor;
$main-clicked-textshadow: $main-normal-textshadow;
$main-clicked-bg: $main-color-dark;
$main-clicked-shadow: inset 0px 2px 0px $main-clicked-shadowcolor;
// ===== END OF MAIN =====

$shadow-specialblocks-silver: inset 0px -5px 0px fade-out(#000, 0.82);
$shadow-specialblocks-main: inset 0px -5px 0px $main-normal-shadowcolor;
$feedback-dots: #303435;
$bigslider-textcolor: #00173c;

$hurry-banner: url('../../img/bg/hurry-banner_' + $theme + '.png') no-repeat center top;
// $benefit-bg: url('../../img/bg/benefit-bg_' + $theme + '.png') no-repeat center;