.cool-slider{
	background: linear-gradient(fade-out(#e8e8e8, 0.15) 0%,
								fade-out(#fff, 0.15) 25%,
								fade-out(#fff, 0.15) 75%,
								fade-out(#e8e8e8, 0.15) 100%);
	box-shadow: inset 0px 0px 3px fade-out(#00003a, 0.79);

	.techdata{
		li{
			color: #2f2c3f;
			&:before{
				background: #b2b0be;
			}
		}
	}

	.btn-buy{
		@extend .btn-main;
	}

	.slider-controls{
		.track{
			background: #dedce4;
			box-shadow: $coolslider-track-shadow;
		}
		.bar{
			background: $main-normal-bg;
			border-color: $coolslider-bar-bordercolor;
			box-shadow: $coolslider-bar-shadow;
		}
		.dot{
			background: $coolslider-dot-bg;
			box-shadow: $coolslider-dot-shadow;
			&:before{
				background: $coolslider-innerdot-bg;
				box-shadow: $coolslider-innerdot-shadow; 
			}
		}
	}

	.ctrl-item{
		.name{
			@extend .silver-normal;
		}
		&:hover{
			.name{ @extend .silver-hovered;}
		}
		&:active, &.active{
			div.name{ @extend .main-clicked;}
		}

		&:last-of-type{
			.bar{ background-color: $main-color-soft;}
		}
	}
}
.cool-sticker{
	@extend .silver-static;
}