.form_account-settings{
	$left: 250px;
	$h: 44px;
	$w: 280px;

	.line-wrap{
		@include clearfix;
		display: block;
		margin-top: 15px;
		&>.text, &>.label-text, &>.content{ float: left;}

		&>.text, &>.label-text{ 
			width: $left;
			min-height: 1px; // for dummies

			font-size: 14px;
			font-weight: normal;
		}
		&>.label-text{
			height: $h; // same as input height
			line-height: $h;
			// ^ width and height are set for user to be able to click
			// anywhere between text and input to focus on that input
			&:hover{ cursor: pointer;}
			// ^ and making pointer for user to see that he/she CAN
			// click there to get some result
		}
		
		&.social-wrap label:hover{ cursor: default;}

		&.settings-list{
			margin-top: 0;
		}
	}
	.update-info{
		margin-bottom: 25px;
		.line-wrap{ margin-top: 0;}
		.content{ font-weight: bold;}
	}
	.expandable{
		margin-bottom: 20px;
		&>header>.text-wrap{
			@include transition(false, color);
			&:hover{ cursor: pointer;}
			&:after{
				content: '';
				position: relative;
				// top: -1px;
				display: inline-block;
				vertical-align: middle;
				margin-left: 3px;
				border: 4px solid;
				border-left-color: transparent;
				border-right-color: transparent;
				border-bottom-width: 0;
			}

			&>.text{
				font-size: 16px;
				font-weight: bold;
				border-bottom: 1px dotted;
			}
		}
		&.expanded>header>.text-wrap:after{
			border-bottom-width: 4px;
			border-top-width: 0;
		}	
	}/* .expandable */

	// ul reset
	ul{
		list-style: none;
		margin: 0;
		padding: 0px;
	}

	.social-wrap{
		&>.text{
			height: $h;
			line-height: $h;
		}
	}
	.social-list{
		&>li{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: $h;
			height: $h;
			line-height: $h;
			text-align: center;

			border-radius: 3px;
		}
		
		.social{
			position: relative;
			top: -1px;
			display: inline-block;
			vertical-align: middle;
			height: 32px;
			line-height: 32px;
			width: 32px;
			
			&:hover{
				cursor: pointer;
				opacity: 0.8;
			}
			@include transition(false, opacity);
		}/* .social */

		.social-delete{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border: 1px solid;
			border-radius: 3px;
			opacity: 0;
			&:hover{
				cursor: pointer;
				opacity: 1;
			}
			@include transition(false, opacity);

			&>i{
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				right: 0;
				&:before{
					position: absolute;
					top: -12px;
					right: 3px;
					font-size: 12px;
				}
			}/* &>i */
		}/* .social-delete */
	}/* .social-list */
	

	.textinput{
		height: $h;
		width: $w;
		font-weight: normal;
	}/* .textinput */

	.input-wrap{
		position: relative;
		.textinput{
			padding-right: $h + 5px;
		}
		.btn-plus{
			position: absolute;
			top: 0;
			right: 0;
			width: $h;
			height: $h;

			border-radius: 0px 4px 4px 0px;

			font-size: 40px;
			
			>.text{
				position: relative;
				top: -8px;
			}
			&:active>.text{
				top: -7px;
			}
		}/* .btn-plus */
	}/* .input-wrap */

	.settings-list{
		&>ul{ min-width: $w;}
		li{
			@include clearfix;
			padding: 3px 0px;
			vertical-align: middle;
			font-size: 14px;
			font-weight: normal;
		}
		
		.item-content{
			&>i:before{
				display: inline-block;
				vertical-align: middle;
			}
			&>.value{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}/* .settings-list */
	
	.item-actions{
		float: right;
		margin-top: 3px;
		margin-left: 10px;
	}

	.avatar{
		margin-top: 50px;
		.content{
			min-width: $w;
		}
		.img-container{
			$avasize: 115px;
			position: relative;
			float: left;
			width: $avasize;
			height: $avasize;
			border-radius: 50%;

			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width: 100%;
				max-height: 100%;
			}	
		}


		.fileinput-styled{
			position: relative;
			float: right;
			font-size: 12px;
			margin-left: 10px;
			.btn-fileinput{
				position: relative;
				&:active{ top: 1px;}
				display: inline-block;
				height: $h;
				white-space: nowrap;
				
				padding-left: 10px;
				padding-right: 10px;
				line-height: $h;
				
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				cursor: pointer;

				&>.text{
					display: inline-block;
				}
			}
			input{
				/* читал о проблемах с загрузкой файлов при скрытии
				инпута через display: none, поэтому скрываем прозрачностью и позиционированием
				display: none; */
				position: absolute;
				visibility: hidden;
				opacity: 0;
				top: 0;
				left: 0;
				height: 0;
			}
			.chosen-file{
				display: inline-block;
				margin-top: 4px;
			}
		}/* .fileinput-styled */
	}/* .avatar */

	.btn-main{
		padding: 10px 0px;
		margin-top: 10px;
		margin-left: $left;
		width: $w;
		&>.text{
			font-size: 18px;
			font-weight: bold;
		}

		&:active{
			&>.text{
				position: relative;
				top: 1px;
			}
		}
	}

	@media (max-width: 767px){
		margin: 0 auto;
		width: 100%;
		max-width: 400px;
		padding-left: 0;
		padding-right: 0;

		.textinput{
			height: 45px;
			font-size: 16px;
			
			&.short{ // input with a button on the right
				width: 240px;
				&+.btn-plus{
					width: 43px;
					height: 43px;
					line-height: 43px;
				}
			}/* &.short */
		}/* .textinput */
		
		.line-wrap>.social-list{
			float: none;
			clear: both;
			margin-top: -10px;
		}
		.settings-list{
			li{
				padding: 5px 0px;
				font-size: 14px;
				&:before{
					left: 4px;
					font-size: 16px;
				}
				
				&.phone{
					&:before{
						font-size: 30px;
						top: 2px;
					}
				}

				&.address:before{
					font-size: 28px;
					top: 5px;
				}
			}

		}
		

		.social-list{
			float:none;
			display: block;
			li{ 
				padding-top: 5px;
				padding-bottom: 5px;
			}				

			&.all-socials{
				li{ 
					margin-right: 10px;
				}	
			}
		}/* .social-list */
		

		.avatar{
			.img-container{
				width: 100px;
				height: 100px;
			}
			.fileinput-styled{
				position: relative;
				width: 170px;
				float: right;
				margin-top: 1px;
				margin-right: 1px;
				input{
					/* читал о проблемах с загрузкой файлов при скрытии
					инпута через display: none, поэтому скрываем прозрачностью и позиционированием
					display: none; */
					position: absolute;
					visibility: hidden;
					opacity: 0;
					top: 0;
					left: 0;
					height: 0;
					width: 0;
					
				}
			}/* .fileinput-styled */
		}/* .avatar */

		.btn-main{
			margin: 10px auto;
		}		
	}/* @media (max-width: 767px) */
}/* .form_account-settings */